
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2021, 11:09:42 AM
    Author     : na_gr
*/

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
/*    background: #0097A7;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to bottom, #FFB88C, #0097A7);  /* Chrome 10-25, Safari 5.1-6 */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}

label {
   
    color: #FFFFFF;
  
}
.navegacion-principal{
    display: flex;/*activa flexbox*/
    flex-direction:column;/*viene por default*/
	align-items: right;
    /*align-items: center; //Como con justify solo se alinea horizontalmente con align lo anileamos vertialmente para los dispositivos moviles*/

}
.navegacion-principal p{
    display: block; /*tomaran todo el espacio*/
    text-align: center;
    padding: 0; /*como margin pero más grueso*/
    color: white;
    font-weight: 700;
    font-size: 2rem;
	text-shadow: 4px 4px 4px #C3C3C3;
}

.nav-bg{
    background-color: #01ACBE;
}
.container{background:#0097A7; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FFFFFF}
.login-sec .copy-text a{color:#F0DD06;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #FFFBFB;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #FFF; color:#000000; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#000000;}


